<% include header %>
<link rel="stylesheet" href= "sravya.css"/>
</head>
<body style=color:crimson>
        <header  class="row">
                <meta charset="UTF-8">
<section class="container" >
                <div id="h" class="col-md-4" >
                        <h2>Sravya Kancharla</h2>
                  </div>
          <div class="col-md-8">
                <ul class="pagination">
                        <li><a href="index.html" id="Home">Home</a></li>
                   
                    <li><a href="about.html" id="about">YourChoice</a></li>
                    <li class="active"><a href="#" id="contact">Contact</a></li>
                    <li><a href="/guestbook">Guestbook</a></li>
                    
                </ul>
        </div>  
        </header>
<h1>
Express Guestbook
<a href="/new-entry" class="btn btn-primary pull-right">
Write in the guestbook
</a>
</h1>
<% if (entries.length) { %>
<% entries.forEach(function(entry) { %>
<div class="panel panel-default" color:"#fff">
<div class="panel-heading" >
<div class="text-muted pull-right">
<%= entry.published %></div>
<%= entry.title %></div>

<div class="panel-body">
<%= entry.content %>
</div>
</div>
<% }) %>
<% } else { %>
No entries! <a href="/new-entry">Add one!</a>
<% } %>
<% include footer %>
